/* .formulario{
    margin-top: 5em;
    margin-left: 37%;
    margin-right: 37%;
    padding: 3em;
    border-radius: 15px;
}

@media screen and (max-width: 1400px){
    .formulario{
        margin-left: 30%;
        margin-right: 30%;
    }
} */
